In [1]:
!conda install numpy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
import numpy

In [3]:
l = (1,2,3,4,5)
numpy.sum(l)

15

In [4]:
Sara = 23
Mark = 19
Fatima = 31

print((Sara + Mark + Fatima)/3)

24.333333333333332

In [5]:
73//403

0

In [6]:
403//73

5

In [7]:
2**10

1024

In [8]:
54-57

-3

In [9]:
prijs_lijst = (34.99,29.95,31.50)
numpy.min(prijs_lijst)

29.95

In [10]:
2 + 2 < 4

False

In [11]:
7 // 3 == 1+1

True

In [12]:
3**2+4**2 == 25

True

In [13]:
2+4+6 > 12

False

In [14]:
19 // 1.387 == 0

False

In [15]:
31 // 2 == 0

False

In [16]:
prijs_lijst = (34.99,29.95,31.50)
numpy.min(prijs_lijst) < 30.00

True

In [17]:
a = 3
b = 4
c = a * a + b * b
c

25

In [18]:
s1 = "ant"
s2 = "bat"
s3 = "cod"
space = " "

s1 + space + s2 + space + s3

'ant bat cod'

In [19]:
(s1 + space) * 10

'ant ant ant ant ant ant ant ant ant ant '

In [20]:
((s1 + space) * 1) + ((s2 + space) * 2) + ((s3 + space) * 3)

'ant bat bat cod cod cod '

In [21]:
((s1 + space + s2 + space) * 7)

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [22]:
(s1 + s1 + s3 + space)*5

'antantcod antantcod antantcod antantcod antantcod '

In [23]:
S = "0123456789"

print(S[0])
print(S[1])
print(S[6])
print(S[8])
print(S[9])

0
1
6
8
9

In [24]:
grades1 = [9,7,7,10,3,9,6,6,2]

In [25]:
print(grades1.count(7))
grades1.insert(8,4)
grades1.remove(2)
print(grades1)

2
[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [26]:
grades2 = [9,7,7,10,3,9,6,6,2]

In [27]:
grades2.sort()
print(grades2[-1])

10

In [28]:
grades3 = [9,7,7,10,3,9,6,6,2]

In [29]:
grades3.sort()
print(grades3)

[2, 3, 6, 6, 7, 7, 9, 9, 10]

In [30]:
numpy.sum(grades3) / 9

6.555555555555555

In [31]:
type(False + False)

int

In [32]:
type(2 * 3**2.0)

float

In [33]:
type(4 // 2 + 4 % 2)

int

In [34]:
type(2 + 3 == 4 or 5 >= 5)

bool

In [35]:
import math

a = 1
b = 6

math.sqrt(a**2+b**2)

6.082762530298219

In [36]:
math.sqrt(a**2+b**2) > 5

True

In [37]:
math.pi*(a**2)

3.141592653589793

In [38]:
import fractions

a = fractions.Fraction(3, 4)
b = fractions.Fraction(1, 2)

c = a + b
c

Fraction(5, 4)

# Turtle Package

In [39]:
import turtle
# s = turtle.Screen()
# t = turtle.Turtle()
# t.forward(100)

In [40]:
# s = turtle.Screen()
# t = turtle.Turtle()
# t.pensize(3)

# x = -100
# y = 100
# t.goto(x, y)
# t.undo()
# t.penup()
# t.goto(x, y)
# t.pendown()
# t.circle(100)
# t.penup()
# t.goto(x - 35, y + 120)
# t.pendown()
# t.dot(25)
# t.penup()
# t.goto(x + 35, y + 120)
# t.pendown()
# t.dot(25)
# t.penup()
# t.goto(x - 60.62, y + 65)
# t.pendown()
# t.setheading(-60)
# t.circle(70, 120)

# Chapter 2: Imperative Programming

In [41]:
line1 = "Hello Python developer..."
line2 = "Welcome to the world of Python"
print(line1)
print(line2)

Hello Python developer...
Welcome to the world of Python

In [42]:
first = input('Enter your first name: ')
last = input('Enter your last name: ')
line1 = 'Hello ' + first + ' ' + last + "..."
print(line1)
print('welcome to the world of python!')

Hello Walter Kahn...
welcome to the world of python!

In [43]:
temp = input('Enter the temperature in degrees Fahrenheit: ')
celcius = (5/9)*((int(temp) - 32))

print("Enter the temperature in degrees Fahrenheit: " + str(temp))
print("The temperature in degrees Celcius is " + str(celcius))

Enter the temperature in degrees Fahrenheit: 50
The temperature in degrees Celcius is 10.0

In [44]:
age = eval(input("what is your age?"))

if age > 62:
    print ('You can get your pension benefits!')

You can get your pension benefits!

In [45]:
name = input("what is your name?")
lst = ['Musial','Aaraon','Williams','Gehrig','Ruth']

if name in lst:
    print(name + ' is one of the top 5 baseball players, ever!')

In [46]:
HP = input('How many hits have you taken: ')
SP = input('What are your shield points at: ')

if int(HP) > 10 and int(SP) == 0:
    print('You are dead...')

You are dead...

In [47]:
# direction = input('Can you go in any direction: ')

# if int(direction) == 1:
#     print("you can escape.")

In [48]:
year = input('What year is it: ')

if int(year) % 4 == 0:
    print('Could be a leap year.')
else:
    print('Definitely not a leap year.')

Could be a leap year.

In [49]:
ticket_numb = input('What is your ticket code: ')

if int(ticket_numb) == 12345:
    print('You won!')
else:
    print('Better luck next time...')

You won!

In [50]:
login_name = input('What is your login: ')
login_lst = ['Joe','Sue','Hani','Sophie']

if login_name in login_lst:
    print('Login: ' + login_name)
    print('You are in!')
    print('Done.')
else:
    print('Login: ' + login_name)
    print('User unkown')
    print('Done.')

Login: Walter
User unkown
Done.

In [51]:
name = input('Enter a word: ')
print('The word spelled out: ')

for char in name:
    print(char)

The word spelled out:
W
a
l
t
e
r

In [52]:
animals = ['fish','cat','dog']

for animal in animals:
    print(animal)

fish
cat
dog

In [53]:
phrase = input('Enter a phrase: ')

for c in phrase:
    if c in 'aeoiuAEiOU':
        print(c)

o

In [54]:
word_list = ['stop','desktop','top','post']

for words in word_list:
    if len(words) == 4:
        print(words)

stop
post

In [55]:
for numbers in range(10):
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [56]:
for numbers in range(2):
    print(numbers)

0
1

In [57]:
for i in range(3,13):
    print(i)

3
4
5
6
7
8
9
10
11
12

In [58]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [59]:
for i in range(0,24,3):
    print(i)

0
3
6
9
12
15
18
21

In [60]:
for i in range(0,12,5):
    print(i)

0
5
10

# User-Defined Functions

In [61]:
def f(x):
    return x**2 +1

2 * f(2)

10

In [62]:
def average(x,y):
    return (x+y)/2

average(2,3.5)

2.75

In [63]:
def perimeter(radius):
    if radius > 0:
        return (math.pi)*(radius**2)*2

perimeter(1)

6.283185307179586

In [64]:
def hello(name):
    return('Hello, ' + name + '!')

hello('Walter')

'Hello, Walter!'

In [65]:
lst = [4,0,-1,-3,6,-9]

def negatives(z):
    for i in z:
        if i < 0:
            print(i)

negatives(lst)

-1
-3
-9

In [66]:
s = input('Enter square or cube: ')
if s == 'square':
    def f(x):
        return x**2
else:
    def f(x):
        return x**3

f(3)

9

In [67]:
def f(x):
    return x**2 + 1 # f(x) should evaluate to x*x + 1

f(3)

10

In [68]:
def f(x):
    'return x**2 + 1'
    return x**2 + 1

f(3)

10

In [69]:
def hello(name):
    'a personalized hello function'
    print('Hello, ' + name + ' !')

# hello('Walter')

help(hello)

Help on function hello in module __main__:

hello(name)
    a personalized hello function

In [70]:
def average(x,y):
    'returns average of x and y'
    return (x+y)/2

average(3,6)

4.5

In [71]:
help(average)

Help on function average in module __main__:

average(x, y)
    returns average of x and y

# Python Variables and Assignments

In [72]:
a = [5,6,7]
b = a
a = 3
b

[5, 6, 7]

In [73]:
team = ['Ava','Eleanor','Clare','Sarah']

team[0] = team[3]
team[-1] = 'Ava'

team

['Sarah', 'Eleanor', 'Clare', 'Ava']

In [74]:
ingredients = ['flour', 'sugar', 'butter', 'apple']

def swapFL(x):
    x[0], x[3] = x[3], x[0]
    return x

swapFL(ingredients)

['apple', 'sugar', 'butter', 'flour']

In [75]:
excuse = 'i\'m "sick"'

print(excuse)

i'm "sick"

In [76]:
poem = '''
To make a prairie it takes a clover and one bee, -
One clover, and a bee,
And revery
The revery alone will do
If bees are few.
'''

print(poem)

To make a prairie it takes a clover and one bee, -
One clover, and a bee,
And revery
The revery alone will do
If bees are few.

In [77]:
s = 'hello'
s[0]
s[0:2]

'he'

In [78]:
s = '0123456789'

print(s[2:5])
print(s[7:9])
print(s[1:8])
print(s[0:4])
print(s[7:])

234
78
1234567
0123
789

In [79]:
# forecast = 'It will be a sunny day today'

# forecast.count('day')
# t = forecast.find('s')
# q = forecast.find('y')
# weather = forecast(forecast[t]:forecast[q])

# weather

In [80]:
last = 'Smith'
first = 'John'
middle = 'Paul'

print(first,'\t',middle,'\t',last)

John 	 Paul 	 Smith

In [81]:
for name in ['Joe','Sam','Tim','Ann']:
    print(name+'!')

Joe!
Sam!
Tim!
Ann!

In [82]:
for name in ['Joe','Sam','Tim','Ann']:
    print(name, end='! ')

Joe! Sam! Tim! Ann!

In [83]:
def even(t):
    for i in range(2,t,2):
        print(i, end=', ')

even(17)

2, 4, 6, 8, 10, 12, 14, 16,

# Bladzijde 131