In [115]:
!conda install numpy

^C
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [ ]:
import numpy

In [ ]:
l = (1,2,3,4,5)
numpy.sum(l)

15

In [ ]:
Sara = 23
Mark = 19
Fatima = 31

print((Sara + Mark + Fatima)/3)

24.333333333333332

In [ ]:
73//403

0

In [ ]:
403//73

5

In [ ]:
2**10

1024

In [ ]:
54-57

-3

In [ ]:
prijs_lijst = (34.99,29.95,31.50)
numpy.min(prijs_lijst)

29.95

In [ ]:
2 + 2 < 4

False

In [ ]:
7 // 3 == 1+1

True

In [ ]:
3**2+4**2 == 25

True

In [ ]:
2+4+6 > 12

False

In [ ]:
19 // 1.387 == 0

False

In [ ]:
31 // 2 == 0

False

In [ ]:
prijs_lijst = (34.99,29.95,31.50)
numpy.min(prijs_lijst) < 30.00

True

In [ ]:
a = 3
b = 4
c = a * a + b * b
c

25

In [ ]:
s1 = "ant"
s2 = "bat"
s3 = "cod"
space = " "

s1 + space + s2 + space + s3

'ant bat cod'

In [ ]:
(s1 + space) * 10

'ant ant ant ant ant ant ant ant ant ant '

In [ ]:
((s1 + space) * 1) + ((s2 + space) * 2) + ((s3 + space) * 3)

'ant bat bat cod cod cod '

In [ ]:
((s1 + space + s2 + space) * 7)

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [ ]:
(s1 + s1 + s3 + space)*5

'antantcod antantcod antantcod antantcod antantcod '

In [ ]:
S = "0123456789"

print(S[0])
print(S[1])
print(S[6])
print(S[8])
print(S[9])

0
1
6
8
9

In [ ]:
grades1 = [9,7,7,10,3,9,6,6,2]

In [ ]:
print(grades1.count(7))
grades1.insert(8,4)
grades1.remove(2)
print(grades1)

2
[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [ ]:
grades2 = [9,7,7,10,3,9,6,6,2]

In [ ]:
grades2.sort()
print(grades2[-1])

10

In [ ]:
grades3 = [9,7,7,10,3,9,6,6,2]

In [ ]:
grades3.sort()
print(grades3)

[2, 3, 6, 6, 7, 7, 9, 9, 10]

In [ ]:
numpy.sum(grades3) / 9

6.555555555555555

In [ ]:
type(False + False)

int

In [ ]:
type(2 * 3**2.0)

float

In [ ]:
type(4 // 2 + 4 % 2)

int

In [ ]:
type(2 + 3 == 4 or 5 >= 5)

bool

In [ ]:
import math

a = 1
b = 6

math.sqrt(a**2+b**2)

6.082762530298219

In [ ]:
math.sqrt(a**2+b**2) > 5

True

In [ ]:
math.pi*(a**2)

3.141592653589793

In [ ]:
import fractions

a = fractions.Fraction(3, 4)
b = fractions.Fraction(1, 2)

c = a + b
c

Fraction(5, 4)

# Turtle Package

In [ ]:
import turtle
# s = turtle.Screen()
# t = turtle.Turtle()
# t.forward(100)

In [ ]:
# s = turtle.Screen()
# t = turtle.Turtle()
# t.pensize(3)

# x = -100
# y = 100
# t.goto(x, y)
# t.undo()
# t.penup()
# t.goto(x, y)
# t.pendown()
# t.circle(100)
# t.penup()
# t.goto(x - 35, y + 120)
# t.pendown()
# t.dot(25)
# t.penup()
# t.goto(x + 35, y + 120)
# t.pendown()
# t.dot(25)
# t.penup()
# t.goto(x - 60.62, y + 65)
# t.pendown()
# t.setheading(-60)
# t.circle(70, 120)

# Chapter 2: Imperative Programming

In [ ]:
line1 = "Hello Python developer..."
line2 = "Welcome to the world of Python"
print(line1)
print(line2)

Hello Python developer...
Welcome to the world of Python

In [ ]:
first = input('Enter your first name: ')
last = input('Enter your last name: ')
line1 = 'Hello ' + first + ' ' + last + "..."
print(line1)
print('welcome to the world of python!')

Hello Walter Kahn...
welcome to the world of python!

In [ ]:
temp = input('Enter the temperature in degrees Fahrenheit: ')
celcius = (5/9)*((int(temp) - 32))

print("Enter the temperature in degrees Fahrenheit: " + str(temp))
print("The temperature in degrees Celcius is " + str(celcius))

Enter the temperature in degrees Fahrenheit: 50
The temperature in degrees Celcius is 10.0

In [ ]:
age = eval(input("what is your age?"))

if age > 62:
    print ('You can get your pension benefits!')

You can get your pension benefits!

In [ ]:
name = input("what is your name?")
lst = ['Musial','Aaraon','Williams','Gehrig','Ruth']

if name in lst:
    print(name + ' is one of the top 5 baseball players, ever!')

In [ ]:
HP = input('How many hits have you taken: ')
SP = input('What are your shield points at: ')

if int(HP) > 10 and int(SP) == 0:
    print('You are dead...')

You are dead...

In [ ]:
# direction = input('Can you go in any direction: ')

# if int(direction) == 1:
#     print("you can escape.")

In [ ]:
year = input('What year is it: ')

if int(year) % 4 == 0:
    print('Could be a leap year.')
else:
    print('Definitely not a leap year.')

Could be a leap year.

In [ ]:
ticket_numb = input('What is your ticket code: ')

if int(ticket_numb) == 12345:
    print('You won!')
else:
    print('Better luck next time...')

You won!

In [ ]:
login_name = input('What is your login: ')
login_lst = ['Joe','Sue','Hani','Sophie']

if login_name in login_lst:
    print('Login: ' + login_name)
    print('You are in!')
    print('Done.')
else:
    print('Login: ' + login_name)
    print('User unkown')
    print('Done.')

Login: Walter
User unkown
Done.

In [ ]:
name = input('Enter a word: ')
print('The word spelled out: ')

for char in name:
    print(char)

The word spelled out:
W
a
l
t
e
r

In [ ]:
animals = ['fish','cat','dog']

for animal in animals:
    print(animal)

fish
cat
dog

In [ ]:
phrase = input('Enter a phrase: ')

for c in phrase:
    if c in 'aeoiuAEiOU':
        print(c)

o

In [ ]:
word_list = ['stop','desktop','top','post']

for words in word_list:
    if len(words) == 4:
        print(words)

stop
post

In [ ]:
for numbers in range(10):
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for numbers in range(2):
    print(numbers)

0
1

In [ ]:
for i in range(3,13):
    print(i)

3
4
5
6
7
8
9
10
11
12

In [ ]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,24,3):
    print(i)

0
3
6
9
12
15
18
21

In [ ]:
for i in range(0,12,5):
    print(i)

0
5
10

# User-Defined Functions

In [ ]:
def f(x):
    return x**2 +1

2 * f(2)

10

In [ ]:
def average(x,y):
    return (x+y)/2

average(2,3.5)

2.75

In [ ]:
def perimeter(radius):
    if radius > 0:
        return (math.pi)*(radius**2)*2

perimeter(1)

6.283185307179586

In [ ]:
def hello(name):
    return('Hello, ' + name + '!')

hello('Walter')

'Hello, Walter!'

In [ ]:
lst = [4,0,-1,-3,6,-9]

def negatives(z):
    for i in z:
        if i < 0:
            print(i)

negatives(lst)

-1
-3
-9

In [ ]:
s = input('Enter square or cube: ')
if s == 'square':
    def f(x):
        return x**2
else:
    def f(x):
        return x**3

f(3)

9

In [ ]:
def f(x):
    return x**2 + 1 # f(x) should evaluate to x*x + 1

f(3)

10

In [ ]:
def f(x):
    'return x**2 + 1'
    return x**2 + 1

f(3)

10

In [ ]:
def hello(name):
    'a personalized hello function'
    print('Hello, ' + name + ' !')

# hello('Walter')

help(hello)

Help on function hello in module __main__:

hello(name)
    a personalized hello function

In [ ]:
def average(x,y):
    'returns average of x and y'
    return (x+y)/2

average(3,6)

4.5

In [ ]:
help(average)

Help on function average in module __main__:

average(x, y)
    returns average of x and y

# Python Variables and Assignments

In [ ]:
a = [5,6,7]
b = a
a = 3
b

[5, 6, 7]

In [ ]:
team = ['Ava','Eleanor','Clare','Sarah']

team[0] = team[3]
team[-1] = 'Ava'

team

['Sarah', 'Eleanor', 'Clare', 'Ava']

In [ ]:
ingredients = ['flour', 'sugar', 'butter', 'apple']

def swapFL(x):
    x[0], x[3] = x[3], x[0]
    return x

swapFL(ingredients)

['apple', 'sugar', 'butter', 'flour']

In [ ]:
excuse = 'i\'m "sick"'

print(excuse)

i'm "sick"

In [ ]:
poem = '''
To make a prairie it takes a clover and one bee, -
One clover, and a bee,
And revery
The revery alone will do
If bees are few.
'''

print(poem)

To make a prairie it takes a clover and one bee, -
One clover, and a bee,
And revery
The revery alone will do
If bees are few.

In [ ]:
s = 'hello'
s[0]
s[0:2]

'he'

In [ ]:
s = '0123456789'

print(s[2:5])
print(s[7:9])
print(s[1:8])
print(s[0:4])
print(s[7:])

234
78
1234567
0123
789

In [ ]:
# forecast = 'It will be a sunny day today'

# forecast.count('day')
# t = forecast.find('s')
# q = forecast.find('y')
# weather = forecast(forecast[t]:forecast[q])

# weather

In [ ]:
last = 'Smith'
first = 'John'
middle = 'Paul'

print(first,'\t',middle,'\t',last)

John 	 Paul 	 Smith

In [ ]:
for name in ['Joe','Sam','Tim','Ann']:
    print(name+'!')

Joe!
Sam!
Tim!
Ann!

In [ ]:
for name in ['Joe','Sam','Tim','Ann']:
    print(name, end='! ')

Joe! Sam! Tim! Ann!

In [ ]:
def even(t):
    for i in range(2,t,2):
        print(i, end=', ')

even(17)

2, 4, 6, 8, 10, 12, 14, 16,

# Bladzijde 131

In [ ]:
first = 'John'
last = 'Doe'
street = 'Main Street'
number = 123
city = 'AnyCity'
state = 'AS'
zipcode = '09876'

In [ ]:
print(first, last)
print(str(number),street)
print(city + ',',state, zipcode)

John Doe
123 Main Street
AnyCity, AS 09876

In [ ]:
print('i     i**2     i**3     2**i')
for i in range(1,13):
    print(i, i**2, i**3, 2**i, sep='        ')

i     i**2     i**3     2**i
1        1        1        2
2        4        8        4
3        9        27        8
4        16        64        16
5        25        125        32
6        36        216        64
7        49        343        128
8        64        512        256
9        81        729        512
10        100        1000        1024
11        121        1331        2048
12        144        1728        4096

In [ ]:
def growthrates(n):
    'prints values of below 3 functions for i = 1, ..,n'
    print(' i   i**2   i**3   2**i')
    format_str = '{0:2d} {1:6d} {2:6d} {3:6d}'
    for i in range(2,n+1):
        print(format_str.format(i, i**2, i**3, 2**i))

growthrates(12)

 i   i**2   i**3   2**i
 2      4      8      4
 3      9     27      8
 4     16     64     16
 5     25    125     32
 6     36    216     64
 7     49    343    128
 8     64    512    256
 9     81    729    512
10    100   1000   1024
11    121   1331   2048
12    144   1728   4096

In [ ]:
# def roster(n):
#     print('Last    First    Class   Average Grade')
#     format_str = '{0:2d} {1:16d} {2:16d} {3:16d}'
#     for i in range(5):
#         print(format_str.format(n[i]))

# students = []
# students.append(['DeMoines','Jim','Sophomore', 3.45])
# roster(students)

Last    First    Class   Average Grade

TypeError: unsupported format string passed to list.__format__

In [ ]:
infile = open('example.txt','r')
infile = open('C:/Users/Walter/Desktop/example.txt','r')

In [124]:
infile = open('example.txt')

In [117]:
infile.read(1)

'T'

In [122]:
infile.read(5)

'The 3'

In [125]:
infile.readline()

'The 3 lines in this file end with the new line character\n'

In [126]:
infile.read()

'\nThere is a blank line above this line.'

In [128]:
infile.close()

In [129]:
def numChars(filename):
    'returns the number of characters in file filename'
    infile = open(filename, 'r')
    content = infile.read()
    infile.close()

    return len(content)

In [132]:
numChars('example.txt')

96

In [134]:
def numWords(filename):
    'returns the number of words in file filename'
    infile = open(filename,'r')
    content = infile.read()
    infile.close()

    wordList = content.split()
    print(wordList)
    return len(wordList)

In [135]:
numWords('example.txt')

['The', '3', 'lines', 'in', 'this', 'file', 'end', 'with', 'the', 'new', 'line', 'character', 'There', 'is', 'a', 'blank', 'line', 'above', 'this', 'line.']

20

In [174]:
def CleanWords(filename):
    'returns the number of words in file filename'
    infile = open(filename,'r')
    content = infile.read()
    # punctuations = ['!',',','.',':','?']
    clean = content.replace('.',' ')
    infile.close()
    wordList = clean.split()
    print(wordList)
    return len(wordList)

CleanWords('example.txt')

['The', '3', 'lines', 'in', 'this', 'file', 'end', 'with', 'the', 'new', 'line', 'character', 'There', 'is', 'a', 'blank', 'line', 'above', 'this', 'line']

20

In [153]:
infile = open('example.txt')
content = infile.read()
johnny = content.replace('.','')
print(johnny)

The 3 lines in this file end with the new line character

There is a blank line above this line

In [182]:
def myGrep(filename,line):
    infile = open(filename,'r')
    content = infile.read()
    if infile.readline(line) == '':
        removed = content.strip()
        print(removed)
    else:
        print(content)
    infile.close()
    
myGrep('example.txt',1)

The 3 lines in this file end with the new line character

There is a blank line above this line.

In [183]:
def temperature(t):
    'print message based on temperature value t'
    if t > 86:
        print('It is hot!')
    elif t > 32:
        print('It is cool.')
    else:       #everything below or equal to 32 degrees farhenheit
        print('It is freezing!')

In [184]:
def temperature(t): # will skip over elif because first condition supercedes it
    'print message based on temperature value t'
    if t > 32:
        print('It is cool.')
    elif t > 86: # does nothing in this example
        print('It is hot!')
    else:
        print('It is freezing!')

temperature(90)

It is cool.

In [185]:
def temperature(t): # fixed version from above where if statement has closed range
    'print message based on temperature value t'
    if 32 < t <= 86:
        print('It is cool.')
    elif t > 86: # now it works
        print('It is hot!')
    else:
        print('It is freezing!')

temperature(90)

It is hot!

In [198]:
def myBMI(weight, height):
    'gives BMI score based on height in inches and weight in pounds'
    BMI = (weight*703)/(height*height)
    if BMI < 18.5:
        print('Underweight')
    elif 18.5 <= BMI < 25:
        print('Normal')
    else: #BMI above 25
        print('Overweight')

myBMI(190,75)
myBMI(140,75)
myBMI(500, 75)

Normal
Underweight
Overweight

In [199]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [200]:
n = 10
for i in range(n):
    if i % 2 == 0:
        print(i, end = ' ')

0 2 4 6 8

In [206]:
def powers(n):
    for i in range(n):
        print(2**(i+1), end=' ')

powers(6)

2 4 8 16 32 64

In [207]:
pets = ['cat','dog','fish','bird']

for i in range(len(pets)): # i is assigned 0, 1, 2...
    print(pets[i])

cat
dog
fish
bird

In [215]:
def sorted(lst):
    'returns True if sequence lst is increasing, False otherwise'
    for i in range(0, len(lst)-1): # i =  0, 1, 2, ..., len(lst)-2
        if lst[i] > lst[i+1]:
            return False
    return True

numbers = [1,2,3,4,5,6,8,7]

sorted(numbers)

False

In [223]:
def arithmetic(lst):
    'returns True if sequence is arithmatic, False if other wise'
    for i in range(0, len(lst)-1):
        if lst[0] == ((i+1)*lst[i]):
            return False
    return True

numbers = [3,6,9,12] 

arithmetic(numbers)

False

In [225]:
numList = [3,2,7,-1,9]
mySum = 0

for num in numList:
    mySum += num # accumulator loop pattern

mySum

20

In [226]:
sum(numList)

20

In [227]:
myProd = 1

for num in numList:
    myProd = myProd * num

myProd

-378

In [228]:
# def factorial(int):
#     for i in int:
#         int = int * (int-i)
#         return int

# factorial(6)

TypeError: 'int' object is not iterable

In [230]:
n = 6

for i in range(n):
    print(i, end=' ')

0 1 2 3 4 5

In [234]:
def nested(n):
    'print n lines each containing value 0 1 2 .. n-1'
    for j in range(n):
        for i in range(n):
            print(i, end=' ')
        print()

nested(9)

0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8

In [235]:
def nested2(n):
    'prints n lines 0 1 2 ... j for j = 0, 1, ..., n-1'
    for j in range(n):
        for i in range(j+1):
            print(i, end=' ')
        print()

nested2(4)

0
0 1
0 1 2
0 1 2 3

In [271]:
t = [[4,7,2,5],[5,1,9,2],[8,3,6,6]]
t

[[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 6]]

In [250]:
t[2][3]

7

In [251]:
g = t
g[2][3] = 7

g

[[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 7]]

In [252]:
for row in t:
    print(row)

[4, 7, 2, 5]
[5, 1, 9, 2]
[8, 3, 6, 7]

In [253]:
def print2D(t):
    'prints values in 2D list t as a 2D table'
    for row in t:
        for item in row:
            print(item, end=' ')
        print()

print2D(t)

4 7 2 5
5 1 9 2
8 3 6 7

In [272]:
def incr2D(t):
    'increments each number in 2D list of numbers t'
    nrows = len(t)
    ncols = len(t[0])

    for i in range(nrows):
        for j in range(ncols):
            t[i][j] += 1
        print(t)

incr2D(t)

[[5, 8, 3, 6], [5, 1, 9, 2], [8, 3, 6, 6]]
[[5, 8, 3, 6], [6, 2, 10, 3], [8, 3, 6, 6]]
[[5, 8, 3, 6], [6, 2, 10, 3], [9, 4, 7, 7]]

In [279]:
n = 73
bound = 3951
multiple = 73

while multiple <= bound:
    multiple += n

multiple

4015

In [287]:
def fibonacci(bound):
    'returns the smallest Fibonacci number greater than bound'
    previous = 1
    current = 1
    while current <= bound:
        # current becomes previous , and new current is computed
        previous, current = current, previous+current
    return current

fibonacci(1200)

1597

In [288]:
def hello2():
    '''a greeting service; it repeatedly requests the name of the user and then greets the user'''
    while True:
        name = input('What is your name?')
        print('Hello {}'.format(name))

In [ ]:
# hello2()

In [292]:
def cities():
    '''returns the list of cities that are interactively entered by the user; 
    the empty string ends the interactive input'''

    lst = []

    city = input('Enter city: ')   # ask user to enter first city

    while city != '':                   # if city is not the flag value
        lst.append(city)                # append city to list
        city = input('Enter city: ')    # and ask user once again

    return lst

cities()

['Lissabon', 'Amsterdam']

## Loop-and-a-half

In [294]:
def cities2():
    '''returns the list of cities that are interactively entered
    by the user; the empty string ends the interactive input'''
    lst = []

    while True:
        city = input('Enter city: ')

        if city == '':
            return lst

        lst.append(city)

cities2()

['Bergen op Zoom', 'Utrecht']

In [295]:
def print2D2(table):
    'prints values in 2D list of numbers t as a 2D table'
    for row in table:
        for num in row:
            print(num, end=' ')
        print()

table = [[2,3,0,6],[0,3,4,5],[4,5,6,0]]
print2D2(table)

2 3 0 6
0 3 4 5
4 5 6 0

In [296]:
def before0(table):
    '''prints values in 2D list of numbers t as a 2D table;
    only values in row upto first 0 are printed'''
    for row in table:

        for num in row:
            if num == 0:
                break
            print(num,end=' ')

        print()

table = [[2,3,0,6],[0,3,4,5],[4,5,6,0]]
before0(table)

2 3

4 5 6

In [297]:
def ignore0(table):
    '''prints values in 2D list of numbers t as a 2D table;
    0 values are no printed'''
    for row in table:
        for num in row:
            if num == 0:
                continue
            print(num, end=' ')

        print()

table = [[2,3,0,6],[0,3,4,5],[4,5,6,0]]
ignore0(table)

2 3 6
3 4 5
4 5 6

In [299]:
def pass0(n):
    if n % 2 == 0:
        pass
    else:
        print(n)

pass0(5)

5

# Chapter 6 pag. 198

In [2]:
employee = {
    '864-20-9753': ['Anna', 'Karenina'],
    '987-65-4321': ['Yu', 'Tsun'],
    '100-01-0010': ['Hans','Castorp']}

In [3]:
employee['987-65-4321']

['Yu', 'Tsun']

In [ ]:
days = {'Mo':'Monday', 'Tu':'Tuesday','We':'Wednesday','Th':'Thursday','Fr':'Friday','Sa':'Saturday','Su':'Sunday',}